.member-txt {
    font-size: 20px;
    top: 10px;
    font-weight: 100;
    width: 150px;
    background-color: var(--color-pri-light);
    border: 2px solid var(--color-pri);
    height: 100%;
    left: 0;
    padding: 30px;
    transition: 0.8s ease;
    overflow: hidden;
}

.member-txt:hover {
    background: none;
    transition: 0.8s ease;
    overflow: hidden;
    border: 2px solid var(--color-sec);
}