
.certificate {
    padding-top: 120px;
    &__items {
        margin-top: 60px;
        padding: 0 10px;


/*         display: grid;
        grid-template: repeat(4, minmax(460px, auto)) / repeat(2, 460px);
        grid-auto-rows: minmax(460px, auto); */
 

         
    }
    a{
        text-decoration: none;
    }
    
    &__item {
       
        padding: 30px 30px 25px 30px;
        
        &-img {
            display: flex;
            align-items: center;
            min-height: 65px;
            border: 1px solid $blue-color;
            transition: 0.8s;
            
            img {
                width: 100%;
   
            }
            &:hover {
                transform: scale(1.30);
                filter: drop-shadow(2px 3px 5px $font-color);
                filter: saturate(200%);
                border: none;
            }
            
            
        }
        h3 {
            margin-top: 28px;
            margin-bottom: 0;
            text-align: center;
            font-size: 25px;
            color:  $blue-color;
        }
        p {
            margin-top: 15px;
            margin-bottom: 0;
            font-size: 14px;
            line-height: 25px;
            text-align: center;
        }
    }
    
       
    
}