.dashboard {
    background-color: #F3F8FE;
    width: 50%;
    height: 100%;
    display: block;
    border: 1px solid red;

}
.nav {
    background-color: #F3F8FE;
    width: 20%;
    height: 100%;
    display: block;
    border: 1px solid darkblue;

}

.info {
    background-color: #F3F8FE;
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
   /* align-items: center;*/
    justify-content:space-between;
    border: 1px solid blueviolet;
    padding: 20px;

}