.App {
    background-color: lightslategrey;
    /*min-height: 100vh;*/
    min-height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    padding: 50px;

}

.App_wrapper {
    height: calc(100vh - 110px);
    width: 100%;
    overflow: hidden;
    display: block;
    border: none;
    border-radius: 10px;

}
