.App {
    background-color: #99D4D2;

    /*min-height: 100vh;*/
    min-height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: #18323E;
    padding: 50px;

}

.App_wrapper {
    height: calc(100vh - 110px);
    width: 100%;
    overflow: hidden;
    display: flex;
    /*flex-direction: column;*/
    align-items: center;
    justify-content:space-between;
    border: none;
    border-radius: 10px;
    background-color: #F3F8FE;
    -webkit-box-shadow: 0 0 32px 7px #4bada8;
    -moz-box-shadow: 0 0 32px 7px #4bada8;
    box-shadow: 0 0 32px 7px #4bada8;

}
