.bodyBlock {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /*overflow: hidden;*/
    font-family: "Roboto", sans-serif;
    transition: 0.25s;

}

.bodyBlock .credit {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: inherit;
}

.bodyBlock .options {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    overflow: hidden;
    min-width: 600px;
    max-width: 900px;
    width: calc(100% - 50px);
    height: 800px;
    padding: 20px;


}

@media screen and (max-width: 1000px) {
    .bodyBlock .options {
        min-width: 600px;
    }

    .bodyBlock .options .option {
        min-width: 8px;
        width: 60px;
        margin: 2px;
    }


    .bodyBlock .options .option.active {
        margin: 2px;
        max-width: 50px;
    }

    .bodyBlock .options .option .label .icon {
        display: none;
        min-width: 40px;
        max-width: 40px;
        height: 40px;
        border-radius: 100%;
        border: 1px solid var(--color-pri-light);
        /*background-color: var(--color-pri-light);*/

    }
}

@media screen and (max-width: 860px) {
    /*.bodyBlock .options {

    }*/
    .bodyBlock .options .option {
        min-width: 10px;
        width: 60px;
        margin: 5px;
    }

    /*.bodyBlock .options .option.active {

    }*/
}

@media screen and (max-width: 762px) {
    .bodyBlock .options {
        /*min-width: 360px;*/
    }


    .bodyBlock .options .option {
        min-width: 10px;
        width: 60px;
        margin: 5px;
    }

    .bodyBlock .options .option.active {

    }
}

@media screen and (max-width: 575px) {
    .bodyBlock .options {
        min-width: 400px;
    }


    .bodyBlock .options .option {
        display: none;
    }

    .bodyBlock .options .option.active {
        display: block;
        min-width: 30px;
        max-width: 50px;
    }


}


.bodyBlock .options .option {
    position: relative;
    overflow: hidden;
    min-width: 20px;
    width: 60px;
    margin: 10px;
    background: var(--optionBackground, #e6e9ed);
    background-size: auto 120%;
    background-position: center;
    cursor: pointer;
    transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
    filter: brightness(60%);

}

.bodyBlock .options .option.active {
    flex-grow: 10000;
    transform: scale(1);
    min-width: 600px;
    max-width: 900px;
    margin: 0px;
    border-radius: 10px;
    background-size: auto 100%;
    filter: brightness(90%);

}

.bodyBlock .options .option.active .shadow {
    box-shadow: inset 0 -120px 120px -120px black, inset 0 -120px 120px -100px black;

}

.bodyBlock .options .option.active .label {
    bottom: 20px;
    left: 20px;
}

.bodyBlock .options .option.active .label .info > div {
    left: 0px;
    opacity: 1;
}

.bodyBlock .options .option:not(.active) {
    flex-grow: 1;
    border-radius: 10px;
}

.bodyBlock .options .option:not(.active) .shadow {
    bottom: -40px;
    box-shadow: inset 0 -120px 0px -120px black, inset 0 -120px 0px -100px black;
}

.bodyBlock .options .option:not(.active) .label {
    bottom: 10px;
    left: 10px;
}

.bodyBlock .options .option:not(.active) .label .info > div {
    left: 20px;
    opacity: 0;
}

.bodyBlock .options .option .shadow {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 120px;
    transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
}

.bodyBlock .options .option .label {
    display: flex;
    position: absolute;
    right: 0px;
    height: 50px;
    transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
}

.bodyBlock .options .option .label .icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-width: 40px;
    max-width: 40px;
    height: 40px;
    border-radius: 100%;
    /*background-color: var(--color-pri-light);*/

}

.bodyBlock .options .option .label .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
    color: white;
    white-space: pre;

}

.bodyBlock .options .option .label .info > div {
    position: relative;
    transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95), opacity 0.5s ease-out;
}

.bodyBlock .options .option .label .info .main {
    font-weight: bold;
    font-size: 1.2rem;
}

.bodyBlock .options .option .label .info .sub {
    transition-delay: 0.1s;
}
