.quali-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 10px solid yellow;
    width: 100%;
}


.quali-text {
    font-size: 20px;
    display: block;
    align-items: center;
    background-color: var(--color-pri-light);
    border: 2px solid var(--color-pri);
    min-width: 30%;
    left: 0;
    padding: 30px;
    transition: 0.8s ease;
    overflow: hidden;
}

.quali-text:hover {
    background: none;
    transition: 0.8s ease;
    overflow: hidden;
    border: 2px solid var(--color-sec);
}

.arrow-block {
    display: flex;
    right: 0;
    width: 40%;
    border: 5px solid var(--color-sec);

}

.none-block {
    display: block;
    width: 60%;
}

.arrow-left {
    font-size: 20px;
    display: block;
    align-items: center;
    background-color: var(--color-sec);
    border: 2px solid var(--color-sec);
    padding: 30px;

    transition: 0.8s ease;
    overflow: hidden;
}

.arrow-right {
    font-size: 20px;
    display: block;
    align-items: center;
    background-color: var(--color-sec);
    border: 2px solid var(--color-sec);
    padding: 30px;

    transition: 0.8s ease;
    overflow: hidden;
}

.arrow:hover {
    background: none;
    transition: 0.8s ease;
    overflow: hidden;
    border: 2px solid var(--color-sec);
}


.qualifications-container {
    position: absolute;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 80%;
    width: 90%;
    border: 1px solid red;
    overflow-y: hidden;
    margin-top: 15px;
    user-select: none;

}

.qualifications-container .qualification {
    position: relative;
    height: 550px;
    min-width: 50%;
    background-color: rgb(9, 6, 31);
    border-radius: 20px;
    margin: 0 20px 0 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

}


.qualifications-container .qualification .content {
    height: 85%;
    width: 90%;
    border-radius: 15px;
    margin-top: 20px;
    background-size: contain;
    background-position: center;
}

.qualifications-container .qualification h1 {
    font-size: 24px;
    text-transform: uppercase;
    margin-top: 40px;

}

.qualifications-container .qualification h2 {
    font-size: 18px;
    text-transform: uppercase;
    margin-top: 40px;

}

.qualifications-container .qualification h4 {
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 40px;
    margin-bottom: 25px;
    color: var(--color-pri);
}

@media (max-width: 820px) {
    .quali-text {
        font-size: 20px;
        text-align: center;

    }

    .qualifications-container {
        position: absolute;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: 80%;
        width: 98%;
        overflow-x: scroll;
        overflow-y: hidden;
        margin-top: 15px;
    }

    .qualifications-container .qualification {
        position: relative;
        height: 80%;
        min-width: 95%;
        background-color: rgb(9, 6, 31);
        border-radius: 20px;
        margin: 0 30px 0 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .qualifications-container .qualification .content {
        height: 85%;
        width: 90%;
        border-radius: 15px;
        margin-top: 20px;
        background-size: contain;
        background-position: center;
    }

    .qualifications-container .qualification h1 {
        font-size: 18px;
        text-transform: uppercase;
        margin-top: 20px;
        font-weight: 200;
    }
}

@media (max-width: 500px) {
    .quali-text {
        font-size: 20px;
        text-align: center;

    }

    .qualifications-container {
        position: absolute;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: 80%;
        width: 85%;
        overflow-x: scroll;
        overflow-y: hidden;
        margin-top: 15px;
    }

    .qualifications-container .qualification {
        position: relative;
        height: 80%;
        min-width: 95%;
        background-color: rgb(9, 6, 31);
        border-radius: 20px;
        margin: 0 40px 0 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .qualifications-container .qualification .content {
        height: 85%;
        width: 90%;
        border-radius: 15px;
        margin-top: 20px;
        background-size: contain;
        background-position: center;
    }

    .qualifications-container .qualification h1 {
        font-size: 18px;
        text-transform: uppercase;
        margin-top: 20px;
        font-weight: 200;
    }
}

@media (max-width: 420px) {
    .quali-text {
        font-size: 20px;
        text-align: center;
    }

    .qualifications-container {
        position: absolute;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        height: 80%;
        width: 88%;
        overflow-x: scroll;
        overflow-y: hidden;
        margin-top: 40px;
    }

    .qualifications-container .qualification {
        position: relative;
        height: 80%;
        min-width: 98%;
        background-color: rgb(9, 6, 31);
        border-radius: 20px;
        margin: 0 40px 0 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .qualifications-container .qualification .content {
        height: 85%;
        width: 90%;
        border-radius: 15px;
        margin-top: 20px;
        background-size: contain;
        background-position: center;
    }

    .qualifications-container .qualification h1 {
        font-size: 18px;
        text-transform: uppercase;
        margin-top: 20px;
        font-weight: 200;
    }
}

@media (max-width: 400px) {
    .quali-text {
        font-size: 20px;

    }

    .qualifications-container {
        position: absolute;
        left: 10px;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        height: 80%;
        width: 100%;
        overflow-x: scroll;
        overflow-y: hidden;
    }

    .qualifications-container .qualification {
        position: relative;
        height: 80%;
        min-width: 90%;
        background-color: rgb(9, 6, 31);
        border-radius: 20px;
        margin: 0 20px 0 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .qualifications-container .qualification .content {
        height: 85%;
        width: 90%;
        border-radius: 15px;
        margin-top: 20px;
        background-size: contain;
        background-position: center;
    }

    .qualifications-container .qualification h1 {
        font-size: 18px;
        text-transform: uppercase;
        margin-top: 20px;
        font-weight: 200;
    }
}

@media (max-width: 375px) {
    .quali-text {
        font-size: 20px;

    }

    .qualifications-container {
        position: absolute;
        left: 10px;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        height: 80%;
        width: 100%;
        overflow-x: scroll;
        overflow-y: hidden;
    }

    .qualifications-container .qualification {
        position: relative;
        height: 95%;
        min-width: 90%;
        background-color: rgb(9, 6, 31);
        border-radius: 20px;
        margin: 0 20px 0 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .qualifications-container .qualification .content {
        height: 85%;
        width: 90%;
        border-radius: 15px;
        margin-top: 20px;
        background-size: contain;
        background-position: center;
    }

    .qualifications-container .qualification h1 {
        font-size: 18px;
        text-transform: uppercase;
        margin-top: 20px;
        font-weight: 200;
    }
}
