.member-txt {
    font-size: 20px;
    top: 10px;
    font-weight: 100;
    background-color: var(--color-pri-light);
    border: 2px solid var(--color-pri);
    height: 100%;
    left: 0;
    padding: 30px;
    transition: 0.8s ease;
    overflow: hidden;
}

.member-txt:hover {
    background: none;
    transition: 0.8s ease;
    overflow: hidden;
    border: 2px solid var(--color-sec);
}

.members-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    min-height: 100vh;
    margin-top: 100px;
}

.members-container .member {
    position: relative;
    display: flex;
    /*justify-content: flex-start;*/
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 10px;
    background: rgba(0, 0, 0, 0.116);
    padding: 15px;
    border-radius: 20px;
}

.members-container .member .member-img {
    height: 150px;
    width: 150px;
    min-width: 20%;
    border-radius: 20px;
    position: relative;
    -webkit-box-shadow: inset 0 0 25px 15px rgba(97, 97, 97, 0.56);
    -moz-box-shadow: inset 0 0 25px 15px rgba(97, 97, 97, 0.56);
    box-shadow: inset 0 0 25px 15px rgba(97, 97, 97, 0.56);
}

.members-container .member-1 .member-img {
    background: rgb(5, 7, 37) url(../props/certificate/udemy.png);
    background-size: cover;
    background-position: center;

}

.members-container .member-2 .member-img {
    background: rgb(5, 7, 37) url(../props/certificate/udemy.png);
    background-size: cover;
    background-position: center;
}

.members-container .member-3 .member-img {
    background: rgb(5, 7, 37) url(../props/certificate/udemy.png);
    background-size: cover;
    background-position: center;
}

.members-container .member-4 .member-img {
    background: rgb(5, 7, 37) url(../props/certificate/udemy.png);
    background-size: cover;
    background-position: center;
}

.members-container .member-5 .member-img {
    background: rgb(5, 7, 37) url(../props/certificate/udemy.png);
    background-size: cover;
    background-position: center;
}

.members-container .member-6 .member-img {
    background: rgb(5, 7, 37) url(../props/certificate/udemy.png);
    background-size: cover;
    background-position: center;
}

.members-container .member-7 .member-img {
    background: rgb(5, 7, 37) url(../props/certificate/ITVDN.jpg);
    background-size: cover;
    background-position: center;
}

.members-container .member .member-img .position {

    display: block;
    position: absolute;
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 2px;


}

.members-container .member .member-info {
    margin-left: 25px;
    font-family: "Open Sans Condensed";
    max-width: 80%;

}

.members-container .member .member-info .name {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 2px;
    margin-top: 0;
    margin-bottom: 0;
    color: var(--color-pri);
}


.members-container .member .member-info .about {
    margin-top: 5px;
    font-weight: 100;
    font-size: 16px;
    margin-bottom: 80px;
}

.members-container .member .member-info .contact-member {
    background-color: var(--color-pri-light);
    padding: 17px 35px;
    font-size: 18px;

    border-radius: 10px;
    /*    right: 10px;
        top: 10px;*/
    bottom: 10px;
    /*left: 10px;*/

    position: absolute;
    transition: 0.1s ease;

}

.members-container .member .member-info .contact-member span {
    text-transform: capitalize;
}

.members-container .member .member-info .contact-member:hover {
    background-color: transparent;
    border: 2px solid var(--color-pri);
}

@media (max-width: 820px) {
    .members-container {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        min-height: 100vh;
        margin-top: 50px;
        width: 90%;
    }

    .members-container .member {
        position: relative;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        margin-top: 15px;
        margin-bottom: 35px;
        background: rgba(0, 0, 0, 0.116);
        padding: 18px;
        border-radius: 50px;
        backdrop-filter: blur(20px);
    }

    .members-container .member .member-img {
        height: 70px;
        width: 70px;
        border-radius: 10%;
        background-size: cover;
        background-position: center;
    }

    .members-container .member .member-info {
        position: relative;
        font-family: "Open Sans Condensed";
        max-width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

    }

    .members-container .member .member-info .name {
        font-size: 20px;
        font-weight: 500;
        letter-spacing: 2px;
    }


    .members-container .member .member-info .about {
        margin-top: 5px;
        font-size: 14px;

    }

    .members-container .member .member-info .period {
        margin-top: 5px;
        font-size: 14px;
    }


    .members-container .member .member-info a.contact-member {
        padding: 15px 25px;
        font-size: 12px;
        transition: 0.1s ease;
        position: absolute;
    }
}

@media (max-width: 500px) {
    .members-container {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        min-height: 100vh;
        margin-top: 100px;
    }

    .members-container .member {
        position: relative;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        margin-top: 15px;
        margin-bottom: 25px;
        background: rgba(0, 0, 0, 0.116);
        padding: 15px;
        border-radius: 50px;
        backdrop-filter: blur(20px);
    }

    .members-container .member .member-img {
        height: 70px;
        width: 70px;
    }

    .members-container .member .member-info {
        position: relative;
        margin-left: 10px;
        font-family: "Open Sans Condensed";
        max-width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    .members-container .member .member-info .name {
        font-size: 18px;
        font-weight: 500;
        letter-spacing: 2px;
    }

    .members-container .member .member-info .position {
        font-size: 12px;
        font-weight: 200;
        letter-spacing: 2px;
    }

    .members-container .member .member-info .about {
        margin-top: 10px;
        font-weight: 100;
        font-size: 16px;
    }

    .members-container .member .member-info a.contact-member {
        padding: 15px 25px;
        border-radius: 50px;
        transition: 0.1s ease;
        position: absolute;
    }
}

@media (max-width: 420px) {
    .members-container {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        min-height: 100vh;
        margin-top: 10px;
    }

    .members-container .member {
        position: relative;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        margin-top: 5px;
        margin-bottom: 5px;
        background: rgba(0, 0, 0, 0.116);
        padding: 5px;
        border-radius: 10px;
        backdrop-filter: blur(20px);
    }

    .members-container .member .member-img {
        height: 70px;
        width: 70px;
        border-radius: 10%;
        background-size: cover;
        background-position: center;

    }

    .members-container .member .member-img .position {
        font-size: 10px;

    }

    .members-container .member .member-info {
        position: relative;
        margin-left: 10px;
        font-family: "Open Sans Condensed";
        max-width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    .members-container .member .member-info .name {
        font-size: 16px;
        font-weight: 500;

    }

    .members-container .member .member-info .position {
        font-size: 8px;
        font-weight: 200;

    }

    .members-container .member .member-info .about {
        margin-top: 8px;
        font-weight: 100;
        font-size: 16px;
    }

    .members-container .member .member-info a.contact-member {
        padding: 15px 25px;
        font-size: 12px;
        border-radius: 50px;
        transition: 0.1s ease;
        position: absolute;
    }
}

@media (max-width: 400px) {
    .members-container {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        min-height: 100vh;
        margin-top: 10px;
        padding: 2px;
    }

    .members-container .member {
        position: relative;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        margin-top: 5px;
        margin-bottom: 5px;
        background: rgba(0, 0, 0, 0.116);
        padding: 15px;

        backdrop-filter: blur(20px);
    }

    .members-container .member .member-img {
        height: 40px;
        width: 40px;

        background-size: cover;
        background-position: center;

    }

    .members-container .member .member-info {
        position: relative;
        margin-left: 10px;
        font-family: "Open Sans Condensed";
        max-width: 70%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    .members-container .member .member-info .name {
        font-size: 19px;
        font-weight: 500;
        letter-spacing: 2px;
    }

    .members-container .member .member-info .position {
        font-size: 14px;
        font-weight: 200;
        letter-spacing: 2px;
    }

    .members-container .member .member-info .about {
        margin-top: 10px;
        font-weight: 100;
        font-size: 18px;
    }

    .members-container .member .member-info a.contact-member {

        padding: 15px 25px;
        font-size: 12px;
        border-radius: 50px;
        transition: 0.1s ease;
        position: absolute;
    }
}


